# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np 
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
salaries=pd.read_csv("Employees_advanced.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [12]:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [13]:
salaries[["Department", "Salary or Hourly"]].groupby(['Department', 'Salary or Hourly'])['Salary or Hourly'].count()

Department             Salary or Hourly
ADMIN HEARNG           Salary                 39
ANIMAL CONTRL          Hourly                 19
                       Salary                 62
AVIATION               Hourly               1082
                       Salary                547
BOARD OF ELECTION      Salary                107
BOARD OF ETHICS        Salary                  8
BUDGET & MGMT          Hourly                  2
                       Salary                 44
BUILDINGS              Salary                269
BUSINESS AFFAIRS       Hourly                  7
                       Salary                164
CITY CLERK             Salary                 84
CITY COUNCIL           Hourly                 64
                       Salary                347
COMMUNITY DEVELOPMENT  Hourly                  4
                       Salary                203
COPA                   Salary                116
CULTURAL AFFAIRS       Hourly                  7
                       Salary                 58
DISABILITIES           Salary                 28
DoIT                   Salary                 99
FAMILY & SUPPORT       Hourly                287
                       Salary                328
FINANCE                Hourly                 44
                       Salary                516
FIRE                   Hourly                  2
                       Salary               4639
GENERAL SERVICES       Hourly                765
                       Salary                215
HEALTH                 Hourly                  3
                       Salary                485
HUMAN RELATIONS        Salary                 16
HUMAN RESOURCES        Hourly                  4
                       Salary                 75
INSPECTOR GEN          Salary                 87
LAW                    Hourly                 40
                       Salary                367
LICENSE APPL COMM      Salary                  1
MAYOR'S OFFICE         Hourly                  8
                       Salary                 77
OEMC                   Hourly               1273
                       Salary                829
POLICE                 Hourly                 10
                       Salary              13404
POLICE BOARD           Salary                  2
PROCUREMENT            Hourly                  2
                       Salary                 90
PUBLIC LIBRARY         Hourly                299
                       Salary                716
STREETS & SAN          Hourly               1862
                       Salary                336
TRANSPORTN             Hourly                725
                       Salary                415
TREASURER              Salary                 22
WATER MGMNT            Hourly               1513
                       Salary                366
Name: Salary or Hourly, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [31]:
# assuming that the salaries have a normal distribution 
import scipy
from scipy import stats 
hourly_workers = list(salaries.loc[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'])
hourly_workers
stats.ttest_1samp(hourly_workers, popmean=30).pvalue

# Our p value is very low, so we can reject the hypothesis that the mean of the hourly wage of all hourly workers is 30.

4.3230240486229894e-92

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [60]:
police_salaries = salaries.loc[(salaries['Salary or Hourly']=='Salary') & (salaries['Department']=='POLICE')]
police_salaries
stats.ttest_1samp(police_salaries["Annual Salary"], popmean=86000, alternative='less').pvalue
# we want to find out if our given population has a mean annual salary > 86 000 
# our null hypothesis for the ttest is that the sample has a LOWER mean than the theoretical sample (which has a mean of 86000)
# since we want to find the opposite 
# so in the function, we state "alternative=less" because that would be the alternative result if our null hypothesis was correct
# the p value is of 0.99, so we can't reject the hypothesis that the mean salary is lower than last year's.

0.9989698298224517

Using the `crosstab` function, find the department that has the most hourly workers.

In [53]:
pd.crosstab(index=[salaries['Department']], columns='Salary or hourly', values='Salary or hourly', aggfunc=len).sort_values('Salary or hourly', ascending=False)

# correct answer was Lucien's 
# pd.crosstab(index=employees["Department"], columns= employees["Salary or Hourly"], dropna=True)

col_0                  Salary or hourly
Department
POLICE                            13414
FIRE                               4641
STREETS & SAN                      2198
OEMC                               2102
WATER MGMNT                        1879
AVIATION                           1629
TRANSPORTN                         1140
PUBLIC LIBRARY                     1015
GENERAL SERVICES                    980
FAMILY & SUPPORT                    615
FINANCE                             560
HEALTH                              488
CITY COUNCIL                        411
LAW                                 407
BUILDINGS                           269
COMMUNITY DEVELOPMENT               207
BUSINESS AFFAIRS                    171
COPA                                116
BOARD OF ELECTION                   107
DoIT                                 99
PROCUREMENT                          92
INSPECTOR GEN                        87
MAYOR'S OFFICE                       85
CITY CLERK                           84
ANIMAL CONTRL                        81
HUMAN RESOURCES                      79
CULTURAL AFFAIRS                     65
BUDGET & MGMT                        46
ADMIN HEARNG                         39
DISABILITIES                         28
TREASURER                            22
HUMAN RELATIONS                      16
BOARD OF ETHICS                       8
POLICE BOARD                          2
LICENSE APPL COMM                     1

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [54]:
police_hourly_wages = salaries.loc[(salaries['Salary or Hourly']=='Hourly') & (salaries['Department']=='POLICE')]
police_hourly_wages

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
1811,"BEAN, VAUGHN",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
3261,"BROWN, RONNIE",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
4991,"CIPUN, CHRISTINA M",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46
9952,"GARCIA, ROBERT",POLICE CADET,POLICE,P,Hourly,20.0,NaN,9.46
11580,"HAGUE, JACKSON",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
19135,"MCMILLON, MALIK M",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46
20104,"MOORE, KEMON J",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46
20159,"MORALES, ALBA M",POLICE CADET,POLICE,P,Hourly,20.0,NaN,9.46
24060,"RAMIREZ, JAMIE",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.27
30174,"TYLER, JUSTIN",PROGRAM AIDE,POLICE,P,Hourly,20.0,NaN,9.46

In [62]:
stats.ttest_1samp(police_hourly_wages["Hourly Rate"], popmean=35, alternative='less').pvalue
# Here our null hypothesis is that the hourly wage mean is greater than 35 (we want to find the opposite)
# Since the p value for this test is very, very low, we can quite confidently say the average of our population's salaries
# is NOT higher than 35.

1.4284243665683163e-23

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [63]:
hourly_workers

[19.86,
 46.1,
 35.6,
 2.65,
 17.68,
 46.1,
 21.43,
 35.6,
 25.1,
 20.0,
 36.21,
 35.6,
 45.07,
 44.88,
 46.1,
 48.25,
 36.22,
 40.2,
 36.13,
 40.2,
 32.04,
 28.48,
 17.68,
 47.5,
 46.1,
 36.21,
 40.2,
 36.21,
 32.25,
 46.35,
 21.2,
 35.6,
 2.65,
 40.2,
 36.21,
 28.48,
 20.77,
 13.15,
 21.98,
 35.6,
 15.94,
 20.12,
 40.2,
 35.6,
 40.2,
 19.86,
 12.49,
 35.6,
 36.21,
 36.21,
 35.6,
 36.21,
 35.6,
 32.04,
 36.21,
 35.6,
 36.21,
 35.6,
 34.57,
 16.17,
 13.94,
 35.6,
 35.6,
 35.6,
 8.25,
 47.44,
 19.86,
 36.21,
 35.6,
 19.86,
 2.65,
 46.35,
 35.6,
 32.59,
 43.03,
 36.22,
 46.35,
 8.25,
 40.2,
 36.21,
 15.22,
 28.14,
 40.2,
 45.07,
 19.86,
 35.6,
 40.2,
 19.38,
 48.25,
 18.52,
 36.21,
 44.25,
 2.65,
 13.94,
 21.3,
 36.21,
 49.1,
 18.52,
 15.65,
 19.38,
 40.2,
 47.44,
 36.21,
 47.44,
 40.2,
 15.0,
 44.25,
 47.44,
 32.04,
 21.98,
 19.86,
 18.15,
 22.36,
 36.21,
 18.52,
 25.1,
 35.6,
 46.35,
 35.6,
 35.6,
 35.57,
 19.86,
 14.54,
 35.6,
 36.21,
 36.21,
 22.12,
 36.21,
 45.07,
 35.6,
 49.1,
 35.6,
 16.17,
 35.6,
 40.2,
 19.86,
 50.25,
 35.6,
 36.21,
 38.33,
 36.21,
 35.6,
 35.6,
 36.21,
 32.04,
 35.6,
 35.6,
 36.21,
 35.6,
 35.6,
 13.0,
 35.6,
 49.1,
 45.07,
 35.6,
 37.25,
 35.6,
 35.6,
 36.13,
 35.6,
 35.6,
 13.15,
 13.94,
 44.88,
 20.31,
 50.25,
 19.86,
 40.7,
 32.04,
 52.18,
 40.2,
 20.12,
 47.44,
 40.2,
 35.6,
 46.1,
 19.86,
 35.6,
 2.65,
 36.21,
 13.94,
 14.54,
 47.44,
 36.21,
 40.2,
 13.94,
 19.38,
 35.6,
 36.21,
 40.2,
 16.17,
 35.6,
 41.1,
 46.1,
 44.55,
 21.43,
 19.5,
 40.2,
 36.21,
 19.86,
 35.6,
 37.56,
 22.35,
 41.7,
 35.6,
 52.18,
 47.44,
 14.51,
 36.21,
 37.45,
 45.07,
 36.21,
 35.6,
 40.2,
 12.0,
 35.6,
 35.6,
 35.6,
 19.86,
 49.1,
 40.2,
 44.55,
 40.2,
 36.21,
 36.22,
 35.6,
 37.25,
 44.88,
 35.6,
 53.9,
 35.6,
 36.21,
 48.9,
 45.35,
 19.38,
 19.86,
 19.38,
 44.55,
 35.6,
 35.6,
 40.2,
 46.1,
 36.21,
 36.21,
 36.21,
 35.6,
 19.5,
 22.12,
 46.35,
 35.6,
 45.35,
 22.12,
 18.52,
 19.38,
 46.35,
 35.6,
 36.21,
 36.21,
 13.94,
 2.65,
 40.2,
 35.6,
 19.61,
 36.21,
 14.54,
 20.12,
 16.17,
 35.6,
 17.68,
 35.6,
 40.2,
 40.2,
 40.2,
 40.2,
 18.52,
 35.6,
 40.2,
 44.25,
 36.13,
 35.6,
 28.48,
 28.48,
 36.21,
 40.2,
 36.21,
 36.21,
 46.35,
 46.1,
 52.18,
 37.25,
 32.25,
 16.17,
 22.88,
 40.2,
 14.51,
 30.2,
 35.6,
 40.2,
 40.2,
 36.21,
 44.25,
 20.77,
 44.25,
 35.6,
 36.21,
 24.63,
 18.52,
 35.6,
 46.1,
 35.6,
 18.22,
 20.12,
 28.48,
 48.25,
 20.77,
 35.6,
 36.21,
 19.0,
 17.68,
 40.2,
 35.6,
 19.86,
 35.6,
 36.21,
 16.88,
 18.52,
 40.2,
 40.2,
 40.2,
 34.57,
 22.36,
 35.6,
 35.6,
 40.2,
 32.04,
 21.3,
 17.68,
 40.2,
 36.21,
 34.57,
 36.21,
 35.6,
 35.6,
 28.14,
 13.94,
 35.6,
 13.94,
 17.42,
 18.52,
 28.48,
 22.36,
 18.22,
 13.94,
 15.0,
 36.21,
 45.43,
 22.0,
 47.5,
 15.0,
 35.6,
 22.36,
 34.33,
 49.1,
 21.98,
 50.25,
 22.35,
 35.6,
 46.35,
 46.1,
 46.1,
 18.52,
 36.21,
 52.1,
 36.21,
 13.15,
 13.0,
 36.21,
 2.65,
 13.0,
 35.6,
 36.21,
 40.2,
 46.1,
 21.2,
 46.1,
 2.65,
 21.98,
 19.86,
 36.21,
 47.5,
 20.31,
 21.2,
 35.6,
 35.6,
 46.1,
 13.94,
 22.12,
 13.15,
 40.2,
 46.35,
 48.9,
 36.21,
 12.0,
 23.31,
 47.44,
 33.56,
 35.6,
 36.21,
 40.2,
 13.0,
 28.48,
 49.1,
 48.9,
 35.6,
 35.6,
 36.21,
 35.6,
 47.8,
 35.6,
 40.2,
 52.18,
 45.07,
 32.25,
 35.6,
 35.6,
 22.83,
 22.12,
 46.1,
 9.27,
 28.48,
 22.12,
 35.6,
 21.43,
 40.2,
 13.0,
 2.65,
 47.44,
 46.35,
 46.35,
 36.13,
 19.38,
 14.65,
 21.43,
 35.6,
 28.48,
 36.21,
 22.36,
 23.31,
 40.2,
 40.2,
 35.6,
 19.86,
 2.65,
 46.1,
 40.2,
 36.21,
 35.6,
 44.25,
 25.1,
 48.25,
 40.2,
 46.35,
 35.6,
 13.94,
 19.38,
 45.75,
 48.25,
 36.21,
 19.86,
 40.2,
 36.22,
 2.65,
 46.1,
 15.94,
 17.42,
 40.2,
 20.12,
 32.16,
 22.12,
 32.04,
 13.94,
 36.21,
 18.22,
 35.6,
 19.86,
 22.35,
 46.1,
 35.6,
 35.6,
 40.2,
 19.86,
 21.98,
 35.6,
 19.86,
 25.1,
 47.5,
 45.35,
 40.2,
 35.6,
 14.54,
 20.31,
 40.2,
 35.6,
 13.94,
 46.1,
 37.25,
 35.6,
 47.44,
 45.35,
 40.2,
 19.86,
 36.21,
 36.21,
 35.6,
 20.12,
 45.07,
 2.65,
 2.65,
 40.2,
 15.94,
 35.6,
 49.1,
 36.21,
 15.22,
 15.22,
 21.55,
 41.1,
 35.6,
 46.1,
 48.25,
 2.65,
 40.2,
 19.86,
 19.86,
 49.1,
 48.25,
 35.6,
 15.22,
 45.35,
 17.42,
 28.14,
 35.6,
 22.36,
 19.38,
 15.22,
 33.56,
 13.0,
 45.07,
 35.6,
 35.6,
 35.6,
 36.21,
 35.6,
 40.2,
 44.55,
 22.12,
 35.6,
 16.0,
 35.6,
 16.17,
 45.07,
 45.35,
 19.38,
 24.12,
 36.21,
 18.52,
 26.32,
 43.03,
 21.43,
 47.5,
 40.2,
 35.6,
 36.22,
 44.55,
 46.35,
 52.1,
 35.6,
 13.94,
 35.6,
 35.6,
 28.48,
 12.0,
 32.25,
 35.6,
 35.6,
 40.2,
 46.1,
 40.2,
 46.1,
 17.42,
 40.2,
 14.51,
 19.86,
 45.43,
 15.22,
 14.54,
 18.52,
 35.6,
 35.6,
 14.51,
 36.21,
 49.1,
 46.35,
 34.57,
 21.3,
 49.1,
 19.86,
 13.0,
 34.57,
 21.3,
 47.44,
 35.6,
 2.65,
 19.38,
 19.86,
 32.04,
 47.5,
 46.1,
 19.86,
 36.21,
 19.86,
 46.35,
 14.23,
 19.86,
 36.21,
 47.44,
 36.21,
 21.98,
 10.0,
 36.21,
 22.36,
 13.0,
 40.2,
 19.86,
 36.21,
 32.04,
 17.42,
 19.86,
 35.6,
 40.2,
 19.86,
 48.25,
 49.1,
 46.35,
 40.2,
 33.56,
 36.21,
 46.1,
 35.6,
 36.21,
 19.86,
 40.2,
 45.35,
 35.6,
 19.86,
 28.48,
 36.21,
 35.6,
 36.21,
 49.1,
 2.65,
 19.86,
 36.21,
 35.6,
 36.21,
 14.15,
 18.52,
 19.86,
 22.12,
 13.94,
 36.21,
 46.1,
 46.35,
 40.2,
 35.6,
 19.38,
 49.1,
 35.6,
 35.6,
 35.6,
 25.1,
 19.38,
 46.47,
 32.04,
 35.6,
 16.17,
 25.1,
 40.2,
 48.25,
 36.21,
 21.43,
 2.65,
 36.21,
 36.21,
 13.0,
 36.13,
 14.54,
 47.44,
 14.54,
 46.1,
 40.2,
 28.48,
 35.6,
 19.86,
 35.6,
 15.22,
 46.2,
 35.6,
 35.6,
 48.85,
 48.25,
 13.15,
 16.0,
 20.12,
 23.31,
 36.21,
 2.65,
 20.12,
 46.35,
 36.21,
 40.2,
 36.21,
 47.44,
 18.52,
 19.86,
 22.12,
 19.86,
 21.98,
 36.21,
 40.2,
 35.6,
 40.2,
 37.56,
 41.0,
 40.2,
 41.3,
 18.52,
 49.1,
 21.43,
 19.86,
 13.94,
 35.6,
 46.25,
 22.75,
 48.25,
 19.86,
 36.21,
 48.25,
 35.6,
 32.04,
 19.86,
 36.21,
 20.77,
 19.86,
 32.04,
 36.21,
 40.2,
 52.18,
 35.6,
 13.0,
 35.6,
 2.65,
 37.56,
 48.25,
 15.0,
 22.36,
 35.6,
 19.86,
 48.85,
 21.98,
 20.24,
 13.0,
 15.94,
 8.25,
 15.94,
 35.6,
 35.6,
 18.52,
 40.2,
 48.25,
 35.6,
 35.6,
 20.88,
 40.2,
 14.54,
 19.86,
 8.25,
 17.68,
 35.6,
 35.6,
 46.35,
 19.86,
 35.6,
 19.5,
 45.07,
 30.21,
 36.21,
 9.27,
 36.21,
 36.21,
 2.65,
 16.17,
 35.6,
 36.21,
 21.3,
 16.17,
 13.0,
 35.6,
 20.12,
 20.31,
 8.25,
 40.2,
 47.44,
 16.17,
 22.36,
 45.43,
 19.86,
 13.94,
 36.21,
 20.12,
 28.48,
 17.68,
 41.1,
 19.86,
 36.21,
 46.35,
 35.6,
 19.86,
 35.6,
 36.21,
 46.35,
 40.2,
 17.55,
 46.1,
 40.2,
 36.21,
 37.25,
 36.21,
 35.6,
 13.15,
 32.04,
 19.86,
 40.2,
 41.72,
 13.0,
 35.6,
 40.2,
 35.6,
 35.6,
 46.1,
 19.5,
 22.36,
 35.6,
 2.65,
 46.35,
 44.25,
 32.04,
 13.15,
 50.5,
 19.38,
 17.42,
 22.36,
 47.44,
 22.12,
 47.44,
 36.21,
 35.6,
 32.04,
 14.54,
 35.6,
 35.6,
 15.94,
 28.48,
 40.2,
 40.2,
 48.25,
 19.5,
 15.22,
 35.6,
 36.13,
 2.65,
 40.2,
 24.41,
 14.54,
 22.36,
 21.98,
 19.5,
 36.21,
 52.18,
 20.31,
 46.1,
 49.1,
 19.86,
 35.6,
 13.0,
 35.6,
 19.86,
 19.86,
 14.54,
 36.21,
 17.55,
 32.04,
 47.44,
 45.43,
 40.2,
 35.6,
 19.38,
 48.25,
 46.1,
 35.6,
 35.6,
 36.21,
 46.35,
 46.47,
 45.07,
 46.1,
 35.6,
 32.25,
 21.98,
 45.07,
 19.38,
 20.31,
 21.2,
 40.2,
 35.6,
 50.25,
 19.38,
 36.21,
 36.21,
 36.21,
 28.48,
 19.86,
 18.52,
 22.36,
 15.22,
 18.22,
 35.6,
 2.65,
 2.65,
 46.25,
 21.98,
 40.2,
 28.48,
 35.6,
 35.6,
 48.25,
 48.25,
 20.31,
 19.86,
 14.51,
 15.22,
 46.1,
 36.21,
 35.6,
 19.86,
 40.2,
 36.21,
 19.86,
 35.6,
 35.6,
 36.21,
 12.49,
 40.2,
 35.6,
 40.2,
 40.2,
 19.86,
 46.1,
 13.0,
 2.65,
 35.6,
 19.86,
 49.1,
 45.07,
 18.52,
 22.36,
 25.1,
 16.0,
 44.88,
 35.6,
 12.49,
 28.48,
 35.6,
 23.31,
 36.21,
 46.35,
 40.2,
 35.6,
 12.49,
 35.6,
 46.1,
 13.0,
 21.98,
 45.07,
 48.25,
 22.35,
 46.35,
 40.2,
 47.44,
 46.1,
 ...]

In [66]:
mean_wage = np.mean(hourly_workers)
mean_wage

32.78855771628024

In [65]:
standard_error_mean= stats.sem(hourly_workers) 
standard_error_mean

0.1352368565101596

In [67]:
stats.t.interval(0.95, len(hourly_workers)-1, loc=mean_wage, scale=standard_error_mean) 

# for a series named a = interval(0.95, len(a)-1, loc=np.mean(a), scale=st.sem(a))
#syntax : interval (confidence range, degrees of freedom, location parameter - mean of sample, scale - standard error)

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [70]:
salaries_in_police= list(police_salaries["Annual Salary"])

In [71]:
stats.t.interval(0.95, len(salaries_in_police)-1, loc=np.mean(salaries_in_police), scale=stats.sem(salaries_in_police))

(86177.05631531784, 86795.77269094894)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [5]:
#conda install -c conda-forge statsmodels

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [6]:
import statsmodels

In [7]:
from statsmodels.stats.proportion import proportions_ztest

In [35]:
cnt= list(salaries["Salary or Hourly"].value_counts())[1]
cnt

8022

In [24]:
no= sum(list(salaries["Salary or Hourly"].value_counts()))
no

33183

In [38]:
cnt/no

0.24175029382515142

In [39]:
#statsmodels.stats.proportion.proportions_ztest(count, nobs, value=None, alternative='two-sided', prop_var=False)
proportions_ztest(count=cnt, nobs=no, value=0.25, alternative='two-sided')
# noter que le niveau de confiance à 95% est hard-codé dans la fonction 
# donc on spécifie : count as count of "successes" (ici, salary=hourly)
# nobs : number of observations (ici, tous les individus == sample size)
# value : la proportion à laquelle on cherche à comparer notre sample - ici, 25% 
# sachant que si on fait cnt/no == 0.24 
# donc on cherche une p-value pour savoir si on a des chances de trouver des valeurs plus extremes que 0.24 
# la fonction va prendre la distribution cnt/no, centrer réduire autour de 0, puis calculer la p-value.

(-3.5099964213703005, 0.0004481127249057967)

In [46]:
from scipy import stats
p = cnt/no
p0 = 0.25
2 * stats.norm.cdf(p, loc=p0, scale=np.sqrt(p*(1-p)/no))
# fait à la main par Thomas : avec p (proportion observée), loc = centrer sur proportion de la pop de référence, 
# scale = variance de cnt/no si distribution normale 
# cdf = tout ce qu'il y a en dessous
# 2 fois parce qu'on cherche ce qu'il y a en dessous et au-dessus (de l'autre côté de la courbe)

0.0004481127249057967

In [47]:
z = (p - p0) / np.sqrt(p*(1-p)/no)
# avec ceci, on crée le z qui centre et réduit

In [50]:
2 * stats.norm.cdf(z, loc=0, scale=1)

0.0004481127249057967

In [ ]:
# Rappel 
# https://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html