In [62]:
# Import Libraries
import pandas as pd 
import seaborn as sns
import numpy as np
from scipy import stats

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [ ]:
#done through API yeeey 
# kaggle datasets download -d carolzhangdc/imdb-5000-movie-dataset

### 2. Use crosstabs to show the number of moovies per country

In [2]:
moovies= pd.read_csv("movie_metadata.csv")

In [32]:
moovies.describe(include='O')

,color,director_name,actor_2_name,genres,actor_1_name,movie_title,actor_3_name,plot_keywords,movie_imdb_link,language,country,content_rating
count,5024,4939,5030,5043,5036,5043,5020,4890,5043,5031,5038,4740
unique,2,2398,3032,914,2097,4917,3521,4760,4919,47,65,18
top,Color,Steven Spielberg,Morgan Freeman,Drama,Robert De Niro,Ben-Hur,John Heard,based on novel,http://www.imdb.com/title/tt0232500/?ref_=fn_t...,English,USA,R
freq,4815,26,20,236,49,3,8,4,3,4704,3807,2118

In [6]:
pd.crosstab(index=[moovies['country']], columns='country', values='country', aggfunc=len)

col_0                 country
country
Afghanistan                 1
Argentina                   4
Aruba                       1
Australia                  55
Bahamas                     1
...                       ...
Turkey                      1
UK                        448
USA                      3807
United Arab Emirates        1
West Germany                3

[65 rows x 1 columns]

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [29]:
pd.crosstab([moovies["genres"],moovies["director_name"]], [moovies["country"]], margins=True)

country                    Afghanistan  Argentina  Aruba  Australia  Bahamas  \
genres  director_name
Action  Alec Asten                   0          0      0          0        0
        Chao-Bin Su                  0          0      0          0        0
        Danny Pang                   0          0      0          0        0
        Joel Schumacher              0          0      0          0        0
        John Stockwell               0          0      0          0        0
...                                ...        ...    ...        ...      ...
Western John Maclean                 0          0      0          0        0
        Leonard Farlinger            0          0      0          0        0
        Mike Bruce                   0          0      0          0        0
        Robert M. Young              0          0      0          0        0
All                                  1          4      1         53        1

country                    Belgium  Brazil  Bulgaria  Cambodia  Cameroon  ...  \
genres  director_name                                                     ...
Action  Alec Asten               0       0         0         0         0  ...
        Chao-Bin Su              0       0         0         0         0  ...
        Danny Pang               0       0         0         0         0  ...
        Joel Schumacher          0       0         0         0         0  ...
        John Stockwell           0       0         0         0         0  ...
...                            ...     ...       ...       ...       ...  ...
Western John Maclean             0       0         0         0         0  ...
        Leonard Farlinger        0       0         0         0         0  ...
        Mike Bruce               0       0         0         0         0  ...
        Robert M. Young          0       0         0         0         0  ...
All                              4       8         1         1         1  ...

country                    Sweden  Switzerland  Taiwan  Thailand  Turkey   UK  \
genres  director_name
Action  Alec Asten              0            0       0         0       0    0
        Chao-Bin Su             0            0       0         0       0    0
        Danny Pang              0            0       0         0       0    0
        Joel Schumacher         0            0       0         0       0    0
        John Stockwell          0            0       0         0       0    0
...                           ...          ...     ...       ...     ...  ...
Western John Maclean            0            0       0         0       0    1
        Leonard Farlinger       0            0       0         0       0    0
        Mike Bruce              0            0       0         0       0    0
        Robert M. Young         0            0       0         0       0    0
All                             6            3       2         5       1  434

country                     USA  United Arab Emirates  West Germany   All
genres  director_name
Action  Alec Asten            1                     0             0     1
        Chao-Bin Su           0                     0             0     1
        Danny Pang            0                     0             0     1
        Joel Schumacher       1                     0             0     1
        John Stockwell        1                     0             0     1
...                         ...                   ...           ...   ...
Western John Maclean          0                     0             0     1
        Leonard Farlinger     0                     0             0     1
        Mike Bruce            1                     0             0     1
        Robert M. Young       1                     0             0     1
All                        3733                     1             3  4936

[4462 rows x 66 columns]

### 4. Average duration of filmes grouped by color

In [13]:
moovies.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [53]:
moovies['color'].value_counts()

Color               4815
 Black and White     209
Name: color, dtype: int64

In [68]:
pd.crosstab(moovies['color'], moovies['color'], values= moovies['duration'], aggfunc='mean', margins=True, margins_name='Total')[["Total"]].reset_index()

color             color       Total
0       Black and White  112.253589
1                 Color  107.042908
2                 Total  107.260279

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [69]:
moovies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [75]:
moovies['director_likes'] = moovies['actor_2_facebook_likes']+ moovies['actor_1_facebook_likes'] +moovies['actor_3_facebook_likes']
moovies.columns
#director_name as index 
#pd.crosstab([moovies["color"]], columns=moovies["duration"], values = mean())
pd.crosstab(moovies['director_name'], moovies['director_likes'], values= moovies['director_likes'], aggfunc='mean', margins=True, margins_name='Total')[["Total"]].reset_index()

director_likes       director_name         Total
0                    A. Raven Cruz   1094.000000
1                       Aaron Hann    406.000000
2                  Aaron Schneider  16970.000000
3                    Aaron Seltzer   4598.000000
4                     Abel Ferrara   2198.000000
...                            ...           ...
2381            Álex de la Iglesia    702.000000
2382              Émile Gaudreault    917.000000
2383                  Éric Tessier     72.000000
2384                 Étienne Faure     19.000000
2385                         Total   9012.978857

[2386 rows x 2 columns]